.title {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #30ff87;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

.addColor {
  background-color: green;
}
